<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>

<body>
    <div id="login">
        <h1 style="text-align: center;">ChatApp using Socket.io</h1>
        <h3>Login</h3>
        <label for="uname">Username</label> <input type="text" id="uname"></br>
        <label for="pwd">Password</label> <input type="password" id="pwd"></br>
        <button id="login">Login</button>
    </div>
    <hr>
    <div id="reg">
        <h3>Register</h3>
        <label for="regis_uname">Username</label><input type="text" id="regis_uname"></br>
        <label for="regis_pwd">Password</label><input type="password" id="regis_pwd"></br>
        <button id="register">Register</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        $("#login").click(function () {
            let uname = $("#uname").val();
            let pwd = $("#pwd").val();
            socket.emit('login', {
                'uname': uname,
                'pwd': pwd
            });
        });

        $("#register").click(function () {
            let uname = $("#regis_uname").val();
            let pwd = $("#regis_pwd").val();
            socket.emit('signup', {
                'uname': uname,
                'pwd': pwd
            });
            let regDiv = document.getElementById('reg');
            let regUser = document.getElementById('regis_uname');
            let regPassword = document.getElementById('regis_pwd');
            regUser.value = '';
            regPassword.value = '';
            regDiv.style.display = 'none';
        });

        socket.on('login_succeed', function (data) {
            // document.cookie = `token = ${data['data']['token']}`;
            // document.cookie = `id = ${data['data']['id']}`;
            localStorage.token = ` ${data['data']['token']}`;
            localStorage.id = `${data['data']['id']}`;
            alert(data['msg']);
            let destination = window.location.href + 'chat';
            window.location.href = destination;
            
        });

        socket.on('login_failed', function (data) {
            alert(data['msg']);
        });

        socket.on('signup_success', function (data) {
            alert(data['msg']);
        });

        socket.on('signup_failed', function (data) {
            alert(data['msg']);
        });
    </script>

    
</body>

</html>